.note {
background: #FFFFFF;
border-bottom: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid black;
width: 302px;
height: 300px;
margin : 0px;
padding : 0px;
}
.noteHandle {
border-left: 1px solid black;
border-right: 1px solid black;
border-top: 1px solid black;
cursor :pointer;
background: #FFFF8F;
width : 300px;
height: 10px;
margin : 0px;
padding : 0px;
} 
#controls{
  width : 100%;
  height : 40px;
  background-color : #dcdcdc;
  border-top : none;
  border-left : none;
  border-right : none;
  border-bottom : 1px solid #999;
}
#overlay{
  position: absolute;
  background : url("../images/trans.gif");
  z-index : 1000;
  cursor: pointer;
}
form{
  padding :0;
  margin : 0;
}
input{
  border : 1px solid gray;
  color : gray;
  padding : 4px;
}
.btn{ 
  padding: 17px 8px 13px 8px;
  height : 10px;
  margin: 0px 0px 0px 2px;
  float : left;
  cursor : pointer;
  font-family: Georgia, serif;
  font-size : 12px;
  background-color : #efefef;
}